<div class="fieldWrap">
    <div class="field">
        <div class="field__home">Barcelona 4-4-2</div>
        <div class="field__layout">
            <div class="homeTeam">
                <div class="gk">
                    <div class="playerOnfield">
                        <div class="num">1</div>
                        <div class="name">Leno</div>
                    </div>
                </div>
                <div class="def">
                    <div class="playerOnfield">
                        <div class="num">3</div>
                        <div class="name">Tierney</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">22</div>
                        <div class="name">Pablo Mari</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">16</div>
                        <div class="name">Holding</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">2</div>
                        <div class="name">Bellerin</div>
                    </div>
                </div>
                <div class="mid">

                    <div class="playerOnfield">
                        <div class="num">3</div>
                        <div class="name">Tierney</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">22</div>
                        <div class="name">Pablo Mari</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">16</div>
                        <div class="name">Holding</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">2</div>
                        <div class="name">Bellerin</div>
                    </div>

                </div>
                <div class="atk">

                    <div class="playerOnfield">
                        <div class="num">16</div>
                        <div class="name">Holding</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">2</div>
                        <div class="name">Bellerin</div>
                    </div>

                </div>
            </div>
            <div class="awayTeam">
            
                <div class="atk">

                    <div class="playerOnfield">
                        <div class="num">16</div>
                        <div class="name">Holding</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">2</div>
                        <div class="name">Bellerin</div>
                    </div>

                </div>
                
                <div class="mid">

                    <div class="playerOnfield">
                        <div class="num">3</div>
                        <div class="name">Tierney</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">22</div>
                        <div class="name">Pablo Mari</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">16</div>
                        <div class="name">Holding</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">2</div>
                        <div class="name">Bellerin</div>
                    </div>

                </div>

                <div class="def">
                    <div class="playerOnfield">
                        <div class="num">3</div>
                        <div class="name">Tierney</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">22</div>
                        <div class="name">Pablo Mari</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">16</div>
                        <div class="name">Holding</div>
                    </div>

                    <div class="playerOnfield">
                        <div class="num">2</div>
                        <div class="name">Bellerin</div>
                    </div>
                </div>

                <div class="gk">
                    <div class="playerOnfield">
                        <div class="num">1</div>
                        <div class="name">Leno</div>
                    </div>
                </div>
            </div>

            <div class="fieldElements">
                <div class="corners">
                    <div class="topLeft"></div>
                    <div class="topRight"></div>
                    <div class="bottomLeft"></div>
                    <div class="bottomRight"></div>
                </div>
            </div>
        </div>
        <div class="field__away">Real Madrid 3-4-3</div>
    </div>
</div>

<style lang="scss"> 
    .fieldWrap {
        padding:20px 0;
        // margin-left: -30px;
        // margin-right: -30px;
    }

    .field {
        background: repeating-linear-gradient(180deg,#6FCF97,#6FCF97 10%,#4FB58E 0,#4FB58E 20%);
        border-radius: 5px;

        padding:0 15px;

        &__home, &__away {
            padding:10px 0;
        }

        &__layout {
            position: relative;
            overflow: hidden;
            height: 600px;
            border: 2px solid var(--color-text-white);

            .homeTeam, .awayTeam {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                padding: 0.5rem;
                height: 50%;
            }
            
            .gk,.def,.mid,.atk {
                display: flex;
                align-items: flex-start;
            }


            .gk {
            }
        }

        .fieldElements  {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;

            .corners {
                border: 2px solid #96a772;
                border-radius: 9999px;
                height: 2.5rem;
                position: absolute;
                width: 2.5rem;

                .topLeft {
                    top:-20px;
                    left:-20px;
                }
            }
        }


        .playerOnfield {
            flex:1 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:10px;


            .num {
                display: flex;
                justify-content: center;
                align-items: center;
                padding:6px;
                font-size: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                background: #36B585;
                border: 1px solid rgba(255, 255, 255, 0.2);
            }

            .name {
                font-size: 1.2rem;
                background: #558F78;
                border-radius: 5px;
                padding: 1px 5px;
            }
        }
    }
</style>