---
import MatchControls from "./MatchControls.astro";

---

<div class="stats">

    <MatchControls/>

    <div class="stats__game">
        <div class="stat">
            <div>8</div>
            <div>Shooting</div>
            <div>2</div>
        </div>
        <div class="stat">
            <div>22</div>
            <div>Attacks</div>
            <div>29</div>
        </div>
        <div class="stat">
            <div>42%</div>
            <div>Possession</div>
            <div>58%</div>
        </div>
        <div class="stat">
            <div>3</div>
            <div>Cards</div>
            <div>5</div>
        </div>
        <div class="stat">
            <div>8</div>
            <div>Corners</div>
            <div>7</div>
        </div>
    </div>
</div>

<style lang="scss">
    .stats {

        &__game {
            display: flex;
            flex-direction: column;

            .stat {
                display: flex;
                justify-content: space-evenly;
                padding:var(--space-xs);
                color:#C4C4C4;
                font-size: var(--font-lg);
            }

            .stat > div:first-child {
                flex:0 0 18%;
                display: flex;
                justify-content: flex-end;
            }

            .stat > div:nth-child(2) {
                flex:1;
                display: flex;
                justify-content: center;
            }

            .stat > div:last-child {
                flex:0 0 18%;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
</style>