---
import EventHeader from "./EventHeader.astro";
import Event from "./Event.astro";

---

<div class="league">
    <EventHeader/>
    <slot/>
</div>

<style lang="scss">
    .league {
        display: flex;
        flex-direction: column;
        gap:var(--space-sm);

        .events {
            display: flex;
            flex-direction: column;
            gap:var(--space-sm);
        }
    }
</style>