<div class="articles">
    <span class="articles__title">Latest Articles</span>

    <div class="articles__wrap">
        <slot/>
    </div>
</div>

<style lang="scss">
    @import "../../styles/mixins.scss";
    .articles {
        display: none;
        
        @include for-tablet-landscape-up {
            display: block;
            padding:var(--space-default);
		    border-radius: var(--border-radius);
		    background-color: var(--color-bg-els);
            flex:0 0 25%;
        }

        &__wrap {
            margin-top: var(--space-default);
            display: flex;
            flex-direction: column;
            gap:var(--space-default);
        }
    }
</style>