<div class="articles">
    These are articles
</div>

<style lang="scss">
    .articles {
        padding:var(--space-default);
		border-radius: var(--border-radius);
		background-color: var(--color-bg-light);
        flex:0 0 22%;
    }
</style>