<div class="articles">
    These are articles
</div>

<style lang="scss">
    @import "../../styles/mixins.scss";
    .articles {
        display: none;
        
        @include for-tablet-landscape-up {
            display: block;
            padding:var(--space-default);
		    border-radius: var(--border-radius);
		    background-color: var(--color-bg-els);
            flex:0 0 25%;
        }
    }
</style>