<div class="main">
    <div class="filters">
        <div class="filters__type">

        </div>

        <div class="filters__date">
            
        </div>
    </div>
</div>

<style lang="scss">
    .main {
        padding:var(--space-default);
		border-radius: var(--border-radius);
		background-color: var(--color-bg-light);
        flex:1;
    }
</style>