---
import Layout from "../layouts/Layout.astro";
import AppLayout from "../layouts/AppLayout.astro";
import Header from "../components/Header.astro";
import SportsNav from "../components/SportsNav.astro";
import League from "../components/events/League.astro";
import Event from "../components/events/Event.astro";
import EventsWrap from "../components/events/EventsWrap.astro";


const leagueData = {
	spain: {
		flag: '',
		league: 'La Liga',
		country: 'Spain'
	},
	england: {
		flag: '',
		league: 'Premier League',
		country: 'England'
	}
}

const eventData = {
	game1: {

	},
	game2: {

	}
}
---

<Layout title="Welcome to LiveScores">
	<main>
		<Header />
		<SportsNav />

		<AppLayout>

			<League>
				<EventsWrap>
					<Event/>
					<Event/>
					<Event/>
				</EventsWrap>
			</League>

			<League>
				<EventsWrap>
					<Event/>
					<Event/>
				</EventsWrap>
			</League>
			
		</AppLayout>
	</main>
</Layout>

<style lang="scss">
	main {
		background-color: var(--color-bg);
	}
</style>
