---
import Layout from "../layouts/Layout.astro";
import AppLayout from "../layouts/AppLayout.astro";
import Header from "../components/Header.astro";
import MatchInfo from "../components/match/MatchInfo.astro";
import Sidebar from "../components/app/Sidebar.astro";
import Articles from "../components/app/Articles.astro";
import MatchWrap from "../components/match/MatchWrap.astro";
import Article from "../components/app/Article.astro";
import Lineups from "../components/match/Lineups.astro";
import MatchControls from "../components/match/MatchControls.astro";
import SportsNav from "../components/SportsNav.astro";
---

<Layout title="Welcome to LiveScores">
    <main>
        <Header />

        <SportsNav/>
        
        <!-- <div class="container">
            <div class="league">
                <span>⇽</span> UEFA Champions League 
            </div>
        </div> -->

        <AppLayout>
            <Sidebar />

            <MatchWrap>
                <MatchInfo />
                
                <MatchControls/>

                <Lineups />

            </MatchWrap>

            <Articles>
				<Article/>
				<Article/>
				<Article/>
				<Article/>
				<Article/>
			</Articles>
        </AppLayout>
    </main>
</Layout>

<style lang="scss">
    .stats {
        &__controls {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap:var(--space-xl);
            margin: var(--space-default) 0;
            a {
                display: inline-flex;
                text-decoration: none;
                color:var(--color-white);
                font-size: var(--font-sm);

                &.active {
                    background: linear-gradient(var(--gradient));
                    padding:14px 20px;
                    border-radius: 23px;
                }
            }
        }
    }
</style>