---
import search from "../../images/svg/search.svg";
import cog from "../../images/svg/cog.svg";
import moon from "../../images/svg/moon.svg";
---
<div class="controls">
    <div class="controls__search">
        <img src={search} alt="">
    </div>
    <div class="controls__settings">
        <img src={cog} alt="">
    </div>
</div>

<style lang="scss">
    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:var(--space-default);

        img {
            width: 24px;
            height: 24px;
        }
    }

    .controls__search {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .controls__settings {
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>