<a class="logo" href="/">
    <svg height="34" width="34">
        <circle cx="17" cy="17" r="17" fill="#ed6b4e" />
      </svg>
    <span>LiveScores</span>
</a>

<style lang="scss">
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        flex:0 0 18%;
    }

    .logo span {
        font-size: 1.8rem;
        font-weight: bold;
        color:var(--color-text-light)
    }
</style>
