<nav class="navigation">
    <ul>
        <li>
            <a href="" class="navigation__item">
                <img src="#" alt="alt">
                <span>Football</span>
            </a>
        </li>
        <li>
            <a href="" class="navigation__item">
                <img src="#" alt="alt">
                <span>Basketball</span>
            </a>
        </li>
        <li>
            <a href="" class="navigation__item">
                <img src="#" alt="alt">
                <span>Badminton</span>
            </a>
        </li>
        <li>
            <a href="" class="navigation__item">
                <img src="#" alt="alt">
                <span>Baseball</span>
            </a>
        </li>
        <li>
            <a href="" class="navigation__item">
                <img src="#" alt="alt">
                <span>Voleyball</span>
            </a>
        </li>
    </ul>
</nav>