---
import Logo from "./header/Logo.astro";
import Navigation from "./header/Navigation.astro";
import Controls from "./header/Controls.astro";
---

<header>
    <div class="container">
        <div class="wrap">
            <Logo />
            <Navigation />
            <Controls />
        </div>
    </div>
</header>

<style>
    header {
        background-color: var(--color-bg-light);
    }

    .wrap {
        display: flex;
        align-items: center;
        height: 8rem;
    }
</style>