<table>
    <thead>
        <tr>
            <th>#</th>

            <th>Team</th>

            <th>P</th>

            <th> W</th>

            <th> D</th>

            <th> L</th>

            <th> F</th>

            <th> A</th>

            <th> GD</th>

            <th> Pts</th>
        </tr>
    </thead>

    <tbody>
        <tr id="team__league-row">

            <td class="bp cp" id="team__position">1</td>
            
            <td class="Rg" id="team__name">Team</td>
            
            <td  id="team__played">14</td>
            
            <td id="team__wins">12</td>
            
            <td  id="team__draws">1</td>
            
            <td id="team__losses">1</td>
            
            <td  id="team__goalsFor">33</td>
            
            <td id="team__goalsAgainst">5</td>
            
            <td  id="team__goalsDiff">28</td>
            
            <td id="team__points">37</td>
        </tr>

        <tr id="team__league-row">

            <td class="bp cp" id="team__position">1</td>
            
            <td class="Rg" id="team__name">Team</td>
            
            <td  id="team__played">14</td>
            
            <td id="team__wins">12</td>
            
            <td  id="team__draws">1</td>
            
            <td id="team__losses">1</td>
            
            <td  id="team__goalsFor">33</td>
            
            <td id="team__goalsAgainst">5</td>
            
            <td  id="team__goalsDiff">28</td>
            
            <td id="team__points">37</td>
        </tr>

        <tr id="team__league-row">

            <td class="bp cp" id="team__position">1</td>
            
            <td class="Rg" id="team__name">Team</td>
            
            <td  id="team__played">14</td>
            
            <td id="team__wins">12</td>
            
            <td  id="team__draws">1</td>
            
            <td id="team__losses">1</td>
            
            <td  id="team__goalsFor">33</td>
            
            <td id="team__goalsAgainst">5</td>
            
            <td  id="team__goalsDiff">28</td>
            
            <td id="team__points">37</td>
        </tr>
    </tbody>
</table>

<style lang="scss">
    table {

        img {
            width: 2rem;
            height: 2rem;
        }
    }
</style>
