---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
			integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	:root {
		--space-xs: 1rem;
		--space-sm: 1.5rem;
		--space-default: 2rem;
		--space-lg: 2.5rem;
		--space-xl: 3rem;
		--border-radius: 1rem;
	}

	[data-theme="light"] {
		--color-bg: #ffffff;
	}

	[data-theme="dark"] {
		--color-bg: #181518;
		--color-bg-light: #201d20;
		--color-bg-lightgrey: #302e2f;
		--color-secondary: #e92541;
		--color-secondary-dark: #98334b;
		--color-text-light: #fafafa;
		--color-text-grey: #888888;
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-size: 62.5%;
	}

	body {
		font-size: 1.6rem;
		font-family: "Nunito", sans-serif;
	}

	ul {
		margin:0;
		padding:0;
		list-style-type: none;
	}

	.container {
		max-width:132rem;
		margin: 0 auto;
		padding: 0 var(--space-sm);
	}

	@mixin compontent-container {
		padding:var(--space-default);
		border-radius: var(--border-radius);
		background-color: var(--color-bg-light);
	}
</style>
