---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
			integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	:root {
		--space-xs: 1rem;
		--space-sm: 1.5rem;
		--space-default: 2rem;
		--space-lg: 2.5rem;
		--space-xl: 3rem;

		--border-radius: 1rem;
		--border-radius-lg: 1.6rem;

		--font-xs: 1.2rem;
		--font-sm: 1.4rem;
		--font-default: 1.6rem;
		--font-lg: 2rem;
		--font-title: 3.6rem;
		--font-score: 4rem;

		--font-weight-400: 400;
		--font-weight-default: 600;

		--container: 102.4rem;
	}

	[data-theme="light"] {
		--color-bg: #ffffff;
	}

	[data-theme="dark"] {
		--color-bg: #181829;
		--color-bg-els: #222232;
		--color-border: #2b2b3d;
		--color-bg-light: #201d20;
		--color-bg-lightgrey: #302e2f;
		--color-secondary: #e92541;
		--color-secondary-dark: #98334b;
		--color-text-white: #ffffff;
		--color-text-light: #fafafa;
		--color-text-grey: #888888;
		--gradient: 137.49deg, #f4a58a 0%, #ed6b4e 96.01%;
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-size: 62.5%;
	}

	body {
		font-size: var(--font-default);
		font-family: "Source Sans Pro", sans-serif;
		font-weight: var(--font-weight-default);
		color: var(--color-text-white);
	}

	main {
		background-color: var(--color-bg);
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.container {
		max-width: var(--container);
		margin: 0 auto;
		padding: 0 var(--space-xl);
	}

	@mixin compontent-container {
		padding: var(--space-default);
		border-radius: var(--border-radius);
		background-color: var(--color-bg-light);
	}
</style>
